<form action="" method="post">
  <input type="email" name="email" placeholder="Email">
  <br />
  <input type="text" name="name" placeholder="Your name">
  <br />
  <input type="password" name="password" placeholder="Password">
  <br />
  <input type="password" name="confirmPassword" placeholder="Confirm Password">
  <br />
  <input type="submit" value="Join">
</form>
